* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
}

.grid div:nth-child(1) {
    grid-column: 1 / -1;
}

.grid div:nth-child(2) {
    grid-column: 1;
    gird-row: 2;
}

.grid div:nth-child(3) {
    grid-column: 2 / 4;
    gird-row: 2;
}

.grid div:nth-child(4) {
    grid-column: 3 / 5;
    gird-row: 2;
}

.grid div {
    order: 3;
    border: solid 1px rgb(0, 95, 107);
    border-radius: 3px;
    background-color: rgba(9, 95, 107, 0.8);
    padding: 0.2em;
    color: #fff;
}
.grid div:nth-child(odd) {
    border: solid 1px rgb(11, 209, 213);
    background-color: rgba(11, 209, 213, 0.8);
}
