* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(60px, auto);
}

.grid div {
    border: solid 1px rgb(0, 95, 107);
    border-radius: 3px;
    background-color: rgba(9, 95, 107, 0.8);
    padding: 0.2em;
    color: #fff;
}
.grid div:nth-child(odd) {
    border: solid 1px rgb(11, 209, 213);
    background-color: rgba(11, 209, 213, 0.8);
}
